includeAllAssetLinks=B"false"
includeThumbnailsAndPreviewsDuringStaging=B"true"
publishPermissionsByDefault=B"false"
replicateIndividualDeletionsByDefault=B"false"
showAdvancedStagingConfigurationByDefault=B"false"
validateFileEntryReferences=B"false"
validateJournalFeedReferences=B"true"
validateLayoutReferences=B"false"
validateLayoutReferencesWhitelistedURLPatterns=[ \
  ]
validateMissingReferences=B"false"
